@font-face {
  font-family: 'Coda Caption';
  font-style: normal;
  font-weight: 800;
  src: local('Coda Caption Heavy'), local('CodaCaption-Heavy'), url(https://themes.googleusercontent.com/static/fonts/codacaption/v6/YDl6urZh-DUFhiMBTgAnzzdSoEm4SI0EdW8Dz_G18pE.woff) format('woff');
}
